<div class="container footer">
    <div class="row">
      <!-- About Footer Section -->  
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">I am a passionate web developer.<br><br>I enjoy developing robust, scalable, and interactive websites with Django, its extended ecosystem, and third-party JavaScript libraries.</p>
      </div>
      <!-- Links Footer Section --> 
      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="/"><i class="fa fa-solid fa-caret-right me-2"></i>Portfolio</a></li>
          <li><a href="{% url 'reading_list' %}"><i class="fa fa-solid fa-caret-right me-2"></i>Reading List</a></li>
          <li><a href="/"><i class="fa fa-solid fa-caret-right me-2"></i>CV</a></li>
          <li><a href="/"><i class="fa fa-solid fa-caret-right me-2"></i>Privacy Policy</a></li>
        </ul>
      </div>
      <!-- Contact List Footer Section --> 
      <div class="col-xs-6 col-md-3">
        <h6>Get in Touch</h6>
        <ul class="footer-links">
          <li><a href="/"><i class="fa fa-solid fa-location-dot me-3"></i>Karachi, Pakistan</a></li>
          <li><a href="/"><i class="fa fa-solid fa-mobile-button me-3"></i>+92 348 1387054</a></li>
          <li><a href="/"><i class="fa fa-solid fa-envelope me-3"></i>Email me</a></li>
          <li><a href="{% url 'contact' %}"><i class="fa fa-solid fa-paper-plane me-3"></i>Contact Form</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>