<div class="profile-section pt-3 pt-lg-0">
  <!-- Profile Feature Links -->
  <ul class="navbar-nav flex-column text-start">
    <li class="nav-item">
      <a href="{% url "home" %}" class="nav-link"><i class="fa fa-house mx-2"></i>Home</a>
    </li>
    <li class="nav-item">
      <a href="{% url "portfolio:project" %}" class="nav-link"><i class="fa fa-briefcase mx-2"></i>Portfolio Projects</a>
    </li>
    <li class="nav-item">
      <a href="{% url "cv" %}" class="nav-link"><i class="fa fa-align-left mx-2"></i>CV</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-blog fa-fw mx-1"></i>Blog</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="/" class="dropdown-item"><i class="fas fa-home fa-fw mx-2"></i>Home</a>
        <a href="/" class="dropdown-item"><i class="fa fa-list mx-2"></i>Index</a>
        <a href="/" class="dropdown-item"><i class="fa fa-info-circle mx-2"></i>Contents</a>
        <a href="/" class="dropdown-item"><i class="fa fa-search mx-2"></i>Search</a>
      </div>
    </li>
    <li class="nav-item">
      <a href="{% url "contact" %}" class="nav-link"><i class="fa fa-envelope mx-2"></i>Contact</a>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link"><i class="fa fa-info-circle mx-2"></i>About me</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a href="{% url "user:logout" %}" class="nav-link"><i class="fa fa-solid fa-right-from-bracket mx-2"></i></i>Logout</a>
    </li>
    {% else %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-lock fa-fw mx-1"></i>Account</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="{% url "user:login" %}" class="dropdown-item" type="button"><i class="fa fa-sign-in mx-2"></i>Login</a>
        <a href="{% url "user:register" %}" class="dropdown-item" type="button"><i class="fa fa-pencil-square-o mx-2"></i>Register</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>