[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-widget-tweaks = "*"
django-anymail = "*"
django-ckeditor = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
djangorestframework = "*"
pdf2docx = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = {extras = ["boto3"], version = "*"}
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
