{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock links %}
{% if projects %}
        {% for project in projects %}
        <div class="col-md-6 mb-5">
            <div class="card project-card">
              <div class="row g-0">
                <div class="col-lg-4 card-img-holder">
                  <img src={{project.thumbnail.url}} class="card-img" alt="..." />
                </div>
                <div class="col-lg-8">
                  <div class="card-body">
                    <h5 class="card-title"><a href={{project.link}} class="theme-link">{{project.title}}</a></h5>
                    <p class="card-text">{{project.desc}}</p>
                  </div>
                </div>
              </div>
              <div class="link-mask">
                <a class="link-mask-link" href="/blog/"></a>
                <div class="link-mask-text text-end">
                  <a class="btn btn-secondary" href="/blog/">
                    <i class="fas fa-arrow-circle-right me-2" aria-hidden="true"></i>{{project.btn_title}}
                  </a>
                </div>
              </div>
            </div>
        </div>    
        {% endfor %}
      {% else %}
      <p>No Projects</p>  
      {% endif %}  