{% load static %}
<!-- Profile Skills -->
<section class="skills-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title fw-bold mb-3">Skills</h2>
    <div class="section-intro mb-2">
      <p>This section provides additional context relating to my skills. Click the links below to read more in a particular domain of expertise.</p>
    </div>
    <div class="row">
      <div class="item col-6 col-lg-4">
        <a class="theme-link" href="#">
          <img src="{% static 'core/images/backend-skills.png' %}" class="item-img" width="200" />
          <h3 class="item-title">Back End</h3>
        </a>
      </div>
      <div class="item col-6 col-lg-4">
        <a class="theme-link" href="#">
          <img src="{% static 'core/images/frontend-skills.png' %}" class="item-img" width="200" />
          <h3 class="item-title">Front End</h3>
        </a>
      </div>
      <div class="item col-6 col-lg-4">
        <a class="theme-link" href="#">
          <img src="{% static 'core/images/infrastructure-skills.png' %}" class="item-img" width="150" />
          <h3 class="item-title">Infrastructure</h3>
        </a>
      </div>
      <div class="item col-6 col-lg-4 mt-2">
        <a class="theme-link" href="#">
          <img src="{% static 'core/images/software-skills.png' %}" class="item-img" width="200" />
          <h3 class="item-title">Software</h3>
        </a>
      </div>
    </div>
  </div>
</section>
