<!-- Profile About Me -->
<section class="about-me-section p-3 p-lg-5">
  <div class="profile-teaser media flex-column flex-lg-row">
    <div class="media-body">
      <h2 class="name fw-bold mb-3">{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
      <h5 class="fw-bold mb-3">{{ profile.label }}</h5>
      <div class="bio mb-4 me-5">
        <p>{{ profile.bio }}</p>
        <p>
          Feel free to review the
          <a href="{% if user.is_authenticated %}{% url "user:profile" slug=profile.slug %} {% else %} # {% endif %}" class="theme-link" target="_blank" rel="noreferrer">source code</a>, or even the
          <a href="https://github.com/WayneLambert/portfolio/issues?q=is%3Aissue" class="theme-link" target="_blank" rel="noreferrer">project's issues on GitHub</a>.
        </p>
      </div>
      <div class="row">
        <div class="col-4">
          <a href="#" class="btn btn-primary btn-block me-2 mb-3"><i class="fa fa-briefcase mx-2" aria-hidden="true"></i>Portfolio</a>
        </div>
        <div class="col-4">
          <a href="#" class="btn btn-link btn-github btn-block me-2 mb-3" target="_blank" rel="noreferrer"><i class="fa fa-brands fa-github mx-2" aria-hidden="true"></i>Code</a>
        </div>
      </div>
    </div>
    <img class="profile-image mb-3 mb-lg-0 ml-lg-5 me-md-0" src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/python-django.png" alt="Python and Django" />
  </div>
</section>
