/* BLOG CSS */

.search-form {
    position: relative;
    width: 100%
}

.article-img {
    height: 95px;
    width: 95px;
    margin-right: 8px
}

.blog-post .blog-post-body p, .blog-post .blog-post-body li {
    font-size: 1.125rem;
    line-height: 1.6
}