body {
    min-height: 100vh;
}

.custom-file-btn input[type=file]::-webkit-file-upload-button {
    display: none
}

.custom-file-btn input[type=file]::file-selector-button {
    display: none
}

.custom-file-btn label {
    background-color: #dde0e3;
    cursor: pointer
}

.btn-danger {
    height: 80px;
    width: 320px
}