{% load static %}
<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a class="by-link" href="{% url 'home' %}">DoTech J</a>.
        </p>
      </div>
      <!-- Social Icons Footer Section -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="github" href="https://github.com/Estphu" target="_blank"><i class="fa fa-brands fa-github"></i></a></li>
          <li><a class="stackoverflow" href="https://stackoverflow.com/users/22796684/dotech-j" target="_blank"><i class="fa fa-brands fa-stack-overflow"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/jawad4world/" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>