.btn-link {
    color: #292929;
    text-decoration: none;
    text-align: start;
}

body.dark-mode .btn-link {
    color: rgba(255, 255, 255, 0.7);
}

body.dark-mode .btn-link:hover, body.dark-mode .btn-link:active, body.dark-mode .btn-link:focus {
    color: #7532FA;
}

body.dark-mode .accordion-body {
    color: rgba(255, 255, 255, 0.7);
}