{% load static %}
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio of M. Jawad Bacha" />
    <meta name="author" content="M. Jawad Bacha" />

    <!-- Set the favicon -->
    <link rel="icon" type="image/png" href="{% static 'core/images/favicon.ico' %}">

    <title>{% block title %}JawadDev{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css">

    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    <!-- Extra CSS stylesheet insertions -->
    {% block links %}{% endblock links %}

</head>
<body>
  <!-- Left Side Navbar -->  
  <header class="header text-center">
    <div class="force-overflow">
      <nav class="navbar navbar-expand-lg navbar-dark" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation" class="collapse navbar-collapse flex-column show">
          {% include "core/components/navbar-top.html" %}
          {% include "core/components/navbar-middle.html" %}
          {% include "core/components/navbar-bottom.html" %}
        </div>
      </nav> 
    </div>
  </header>
  <!-- main body -->
  <div class="main-wrapper">
  {% block content %}{% endblock content %}
  </div>
  <!-- Site footer -->
  <footer class="site-footer">
    {% include "core/components/footer-top.html" %}
    {% include "core/components/footer-bottom.html" %}
  </footer>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'core/plugins/jquery-3.5.1.min.js' %}"></script>

  <!-- Poppers.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>

  <!-- Font Awesome JS -->
  <script src="https://kit.fontawesome.com/8651153301.js" crossorigin="anonymous"></script>    

  <!-- JS Utilities -->
  <!-- <script src="{% static 'core/js/main.js' %}"></script> -->

  <!-- Dark Mode -->
  <script src="{% static 'core/plugins/js.cookie.min.js' %}"></script>
  <script src="{% static 'core/js/dark-mode.js' %}"></script>

  <!-- Additional JS -->
  {% block scriptlinks %}{% endblock scriptlinks %}

</body> </html>